<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>Books</p>
<a href="{% url 'book:book_create'%}">Add book</a>
    <ol>
        {% for book in books %}
            <li><a href="{% url 'book:book_details' pk=book.pk %}">{{ book.title }}</a></li>
            <a href="{% url 'book:book_update' pk=book.pk %}">Update</a>
            <a href="{% url 'book:delete' pk=book.pk %}">Delete</a>
        {% endfor %}
    </ol>

</body>
</html>