
{% extends 'base.html' %}
{% block content %}

    <div class="container">
    <h1>Library</h1>
    <a href="{% url 'book:book_create' %}" class="btn btn-primary add-book">Add Book</a>
    <ol>
        {% for book in books %}
        <li class="book-list">
            <div class="book-title"><a href="{% url 'book:book_details' pk=book.pk %}">{{ book.title }}</a></div>
            <span class="created-by">Created by: {{ book.created_by.username }}</span>
            <a href="{% url 'book:send_email' %}" class="share-link">Share</a>
        </li>
        {% endfor %}
    </ol>
</div>


{% endblock content %}
